<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Information</title>
</head>
<body>
    <h1>Failed Login Attempts</h1>
    <ul>
        {% for log_entry in unsuccessful_attempts %}
            <li>{{ log_entry }}</li>
        {% endfor %}
    </ul>

    <h1>Successful Login Attempts</h1>
    <ul>
        {% for log_entry in successful_attempts %}
            <li>{{ log_entry }}</li>
        {% endfor %}
    </ul>

</body>
</html>